@page "/"

<PageTitle>Index</PageTitle>

<h1>Racha a conta</h1>

<p>
Calculo simples para dividir a conta de um restaurante, com opção de adicionar ou não a gorjeta e definição do valor da gorjeta em percentual ou valor.
</p>
